@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

@layer components {
    .btn {
        @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
    }
    .btn-1 {
        @apply bg-[#12b488] text-white px-3 py-0 rounded-md text-sm text-white;
    }
    .btn-2 {
        @apply bg-[orange] text-white px-3 py-0 rounded-md text-sm text-white;
    }
    .card {
        @apply p-3 rounded-md bg-white shadow-md h-full;
    }
}
.fc-event {
    background-color: #3788D8;
    color: #FFFFFF;
    border: 1px solid #3788D8;
    border-radius: 5px;
    padding: 5px;
}

.fc-event:hover {
    background-color: #2B6CB0;
    border-color: #2B6CB0;
}

.fc-event-title {
    font-size: 14px;
}

.fc-event-time {
    font-size: 12px;
    max-height: 100px;
}

.fc-event-dot {
    border-color: #3788D8;
}
.fc-daygrid-day-frame {
    height: 100px;
}